/* Home Page */
.home__container {
	background: url("../image/bg-home.jpg") no-repeat;
	background-size: cover;
	width: 100%;
	height: 100vh;
	display: flex;
	flex-flow: column wrap;
	align-content: center;
	justify-content: center;
}

.home__content {
	background-color: rgba(0,0,0,0.3);
	padding: 50px 150px;
	text-align: center;
}

.home__title {
	color: #FFFFFF;
	font-size: 50px;
}

a.home__btn-admin {
	padding: 10px 20px;
	border: 1px solid #ffffff;
	color: #ffffff;
	text-decoration: none;
	margin-top: 30px;
	display: inline-block;
}

a.home__btn-admin:hover {
	background-color: #FFFFFF;
	color: #0c7cd5;
	border: 1px solid #0c7cd5;
}

/* Admin Page */
.logo {
	text-align: center;
}
.logo img {
	height: 50px;
}

.admin__container {
	background: url("../image/bg-home.jpg") no-repeat;
	background-size: cover;
	width: 100%;
	height: 100vh;
	padding: 20px 0 0;
}

.header-wrap {
	padding: 15px;
	background-color: #ffffff;
	margin-bottom: 20px;
}

.header__text {
	float: left;
}

.header__user {
	float: right;
	text-align: right;
}

.form__item {
	padding: 10px 0;
}